<footer class="footer" >
    

    
        &copy; FACE 2024. All rights reserved.
        <a class="footer-buttons" href = "/about"> About </a> &nbsp; 
        <a class="footer-buttons" href = "/contact"> Contact </a>

        <a href="#" class="facebook-icon" style="float:right"><i class="fa-brands fa-facebook fa-beat"></i></a>
    
        <a href="#" class="twitter-icon" style="float:right; margin-right: 10px;"><i class="fa-brands fa-twitter fa-beat"></i></a>


       

</footer>
</body>
</html>