<%- include('./partials/header.ejs') %>
<main>
    <div class="container">
        <div class="text">
            <h2>About Us:</h2> 
            <p>FACE which is like a meet up club in college from 2008 we allow all student to make friends hang out with them exchange your culture</p>
         </div>

    </div>
    

</main>
<%- include('./partials/footer.ejs') %>