<%- include('./partials/header.ejs') %>
<main>
    <div class="container">
        <div class="text">
            <p>Would you like to make new friends with people from different cultures while sharing interests, customs and traditions? Then sign up for the ISSO's Friendship and Cultural Exchange (FACE) program! Get matched and spend an hour a week with your group doing things you like.</p>
        </div>
        <div class="image">
            <img src="/image/main.jpg" alt="main">
        </div>

    </div>
    

</main>
<%- include('./partials/footer.ejs') %>